<%= title_tag t(".title") %>

<% @labels.group_by(&:date).each do |date, labels| %>
  <h3><%= I18n.localize date, :format => :long %></h3>
  <table>
    <% for label in labels -%>
    <tr <%= 'class="selected"' if user_session.label_selection.include?(label) %>>
      <td class="select">
        <%= link_to_select_label(label, user_session.label_selection) %>
      </td>
      <td>
        <%= link_to label.timestamp.strftime("%H:%M:%S"), source_label_path(label.source, label) %>
      </td>
      <td>
        <%= link_to truncate(label.name, 60), source_label_path(label.source, label) %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @labels.empty? %>
<p class="empty">Aucun repére temporel n'est disponible pour l'instant.</p>  
<% end %>

<%= will_paginate @labels %>

<div class="actions">
  <%= link_to t('labels.actions.new'), new_source_label_path(@source), :class => "create" %>
</div>

<div class="inline_help">
  <%= render :partial => "inline_help" %>
</div>
