<%= title_tag "#{Label.model_name.human} \"#{truncate @label.name, :length => 40}\"" %>

<div class="description">
  <p>
  <%= Label.human_attribute_name(:name) %><br/>
  <%= h @label.name %>
  </p>
  <p>
  <%= Label.human_attribute_name(:timestamp) %><br/>
  <%= I18n.localize @label.timestamp, :format => :long %>
  </p>
</div>

<div class="actions">
  <%= link_to t("chunks.actions.destroy"), [@label.source, @label], :confirm => t("chunks.actions.destroy_confirm"), :method => :delete, :class => "destroy" %>
</div>

<%= link_to "#{t('labels.actions.index')}", source_labels_path(@label.source) %>
