<%= render :partial => 'label_selections/label_selection_inline_help' %>

<% unless label_selection.empty? %>
<%= div_for label_selection do %>
<ul>
  <% for label in label_selection %>
  <li class="<%= class_for_label_in_selection(label_selection, label) %>">
    <%= link_to label.timestamp.strftime("%H:%M:%S"), source_label_path(label.source, label), :class => "timestamp" %>
    <%= link_to truncate(label.name, :length => 40), source_label_path(label.source, label) %>
  </li>
  <% end %>
</ul>

<div class="actions">
  <%= link_to t("label_selection.actions.create_chunk"), new_source_chunk_path(label_selection.source), :title => t("label_selection.actions.create_chunk_title"), :class => "create" %>
  <%= link_to t("label_selection.actions.destroy"), label_selection_path, :method => :delete, :title => t("label_selection.actions.destroy_title"), :class => "destroy" %>
</div>
<% end %>
<% end -%>
