<%= title_tag Chunk.human_name.pluralize %>

<% for chunk in @chunks %>
  <% div_for chunk do %>
  <h3><%= link_to chunk.title, source_chunk_path(chunk.source, chunk) %></h3>
  <div class="description">
    <%= t(".from") %> <%= I18n.localize chunk.begin %> <%= t(".to") %> <%= I18n.localize chunk.end %>
  </div>
  <div class="details in_actions">
    <span class="length"><%= chunk.duration.to_i / 60 %> min.</span>
  </div>
  <div class="actions">
    <%= link_to_download_chunk chunk %>
  </div>
  <% end %>
<% end %>

<% if @chunks.empty? %>
<p class="empty">Aucun extrait n'est disponible pour l'instant.</p>  
<% end %>

<div class="actions">
  <%= link_to t("chunks.actions.create"), new_source_chunk_path(@source), :class => "create" %>
</div>

<div class="inline_help">
  <%= render :partial => "index_inline_help" %>
</div>
