<h1>New chunk</h1>

<% form_for([@chunk.source, @chunk]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :begin %><br />
    <%= f.datetime_select :begin %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', source_chunks_path(@source) %>
