<%= title_tag "Créer un extrait" %>

<% form_for([@chunk.source, @chunk]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, Chunk.human_attribute_name(:title) %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :begin, Chunk.human_attribute_name(:begin) %><br/>
    <%= f.datetime_select :begin, :include_seconds => true %>
  </p>
  <p>
    <%= f.label :end, Chunk.human_attribute_name(:end) %><br/>
    <%= f.datetime_select :end, :include_seconds => true %>
  </p>
  <p>
    <%= f.submit "Créer" %>
    ou <%= link_to 'revenir &#8250;', source_chunks_path(@chunk.source) %>
  </p>
<% end %>

<% if user_session.label_selection.empty? %>
<div class="inline_help">
  <p>
    Vous ne connaissez pas exactement le début et l'heure de l'extrait de vous souhaiter récupérer ?
    Sélectionnez <%= link_to "2&nbsp;repères temporels", source_labels_path(@chunk.source) %>.
  </p>
</div>
<% end %>
