<%= title_tag "Nouvel extrait" %>

<% form_for([@chunk.source, @chunk]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :begin, Chunk.human_attribute_name(:begin) %><br/>
    <%= f.datetime_select :begin %>
  </p>
  <p>
    <%= f.label :end, Chunk.human_attribute_name(:end) %><br/>
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.submit "Créer" %>
    ou <%= link_to 'revenir &#8250;', source_chunks_path(@source) %>
  </p>
<% end %>

