<%= title_tag t(".title") %>

<%= form_for([@chunk.source, @chunk]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :begin, Chunk.human_attribute_name(:begin) %><br/>
    <%= f.datetime_select :begin, :include_seconds => true %>
  </p>
  <p>
    <%= f.label :end, Chunk.human_attribute_name(:end) %><br/>
    <%= f.datetime_select :end, :include_seconds => true %>
  </p>
  <p>
    <%= f.label :title, Chunk.human_attribute_name(:title) %><br/>
    <%= f.text_field :title %>
  </p>
  <h3><%= Chunk.human_attribute_name(:format) %> </h3>
  <p>
    <%= chunk_format_radio_buttons f %>
  </p>
  <p>
    <%= f.submit t(".submit") %>
    <%= t("or") %> <%= link_to "#{t('.cancel')}", source_chunks_path(@chunk.source) %>
  </p>
<% end %>

<% if user_session.label_selection.empty? %>
<div class="inline_help">
  <%= render :partial => "new_inline_help" %>
</div>
<% end %>
