<%= title_tag @chunk.title %>

<div class="description">
  <p>
  <%= Chunk.human_attribute_name(:begin) %> :<br/>
  <%= I18n.localize @chunk.begin, :format => :long %>
  </p>
  <p>
  <%= Chunk.human_attribute_name(:end) %> :<br/>
  <%= I18n.localize @chunk.end, :format => :long %>
  </p>
  <p>
  <%= Chunk.human_attribute_name(:format) %> :<br/>
  <%= @chunk.presenter.format %>
  </p>
  <% if @chunk.status.completed? %>
  <%= t("chunks.status.completed") %>
  <% else %>
  <%= t("chunks.status.pending") %>
  <% end %>
</div>
<div class="details in_actions">
  <span class="length"><%= @chunk.duration.to_i / 60 %> min.</span>
  <% if @chunk.status.completed? %>
  <span class="size"><%= number_to_human_size @chunk.size %></span>
  <% end %>
</div>

<div class="actions">
  <%= link_to_download_chunk @chunk %>
  <%= link_to t("chunks.actions.destroy"), [@chunk.source, @chunk], :confirm => t("chunks.actions.destroy_confirm"), :method => :delete, :class => "destroy" %>
</div>

<%= link_to "#{t('chunks.actions.index')} &#8250;", source_chunks_path(@chunk.source) %>

