<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <title>Pige - <%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/tryphon.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <ul id="access">
      <li><a href="#content">Aller au contenu</a></li>
      <li><a href="#menu">Aller au menu</a></li>
      <li><a href="#sidebar">Aller dans la sidebar</a></li>
    </ul>
    <hr/>
    <div id="header">
      <div>
        <ul id="menu">
          <li><%= link_to "Tableau de bord", source_chunks_path(Source.default) %></li>
          <li><a href="#">Aide</a></li>
        </ul>
      </div>
    </div>
    <hr/>
    <div id="frame">
      <%= flash_tag(flash) %>

      <div id="content">
        <%= yield %>
      </div>
      <hr/>
      <div id="sidebar">
        <h2>PigeBox<sup>beta</sup></h2>

        <ul>
          <li><%= link_to "Gérer les extraits", source_chunks_path(Source.default) %></li>
          <li><%= link_to "Ajouter un extrait", new_source_chunk_path(Source.default) %></li>
        </ul>

        <ul>
          <li><%= link_to "Gérer les repères", source_labels_path(Source.default) %></li>
          <li><%= link_to "Ajouter un repère", new_source_label_path(Source.default) %></li>
        </ul>

        <h2>Sélection</h2>

        <p>
          En sélectionnant <%= link_to "2 repères", source_labels_path(Source.default) %>, vous pouvez créer un extrait en quelques clics.
        </p>

        <%= render user_session.label_selection %>

        <h2>Information</h2>
        <p>
          Pour plus d'information à propos de <%= link_to "PigeBox", "http://www.tryphon.eu/fr/produits/pigebox" %>, visitez notre site&nbsp;: <%= link_to "tryphon.eu", "http://www.tryphon.eu/fr" %>
        </p>
      </div>
    </div>
    <hr/>
    <div id="footer">
      <div>
        &nbsp;
      </div>
    </div>
  </body>
</html>
